$color-main: #ff7700;
$color-secondary: #d54216;
$color-disabled: #d6d6d6;
$color-shadow: #939393;
$color-text: #000000;

$font-size-s: 12px;
$font-size-xs: 14px;
$font-size-m: 16px;
$font-size-xm: 20px;
$font-size-l: 24px;
$font-size-xl: 32px;

$font-weight-regular: 400;
$font-weight-bold: 600;

$padding-s: 5px;
$padding-m: 10px;
$padding-l: 15px;
$padding-xl: 20px;

$margin-s: 5px;
$margin-m: 10px;
$margin-l: 20px;

$gap-s: 5px;
$gap-m: 10px;
$gap-l: 20px;
$gap-xl: 30px;

$border-radius-s: 5px;
$border-radius-m: 10px;

$border-width-s: 1px;
$border-width-m: 2px;

$transition-duration-m: 0.3s;
